<!DOCTYPE html>
<html>
<head>
	<title>Risk Depression</title>
  <link rel="stylesheet" type="text/css" href="web.css">
</head>

<body>
 <h1 style="text-align:center">Risk Depression Detection</h1>

 <div class="part1">
  <h2>Tell us about your feelings in a 2-week span</h2>
     <!-- Sentiment Input For Neural Network -->
		 <form action=”” method=”POST”>

 	<label>predict_text</label>

 	<input type=”text” name=”predict_text” value="text">

	<button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
 		 </form>

  <br><br>
   <h2>{{ prediction_text1 }}</h2>

 </div>


</body>
</html>
